<header>
    <div class="navbar">
        <ul class="nav-links">
            <img src="/images/logo.png" alt="Sortify Logo">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/car">Vehicles</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="/arp">Contact Us</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
</header>
