<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortify Car Rentals</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <!-- About Us Section -->
 <div class="second">
    <section class="about-us">
        <div class="about-text">
            <h4 class="sign">About Us</h4>
            <h2>PROVIDING RELIABLE CAR RENTALS</h2>
            <p style="line-height: 1.5;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab quidem repudiandae dolorem nesciunt, amet debitis voluptatibus neque ut est reprehenderit! Perspiciatis molestiae a facilis nesciunt harum assumenda cupiditate minus? Labore?
            Asperiores labore quasi quia, error est ipsam sequi provident totam nam velit soluta nemo delectus incidunt quibusdam veniam ea cum consequatur voluptatum harum, ad facilis. Iure quia reprehenderit nobis quae.
            Adipisci quod harum distinctio maxime inventore neque? Ex, aliquam perspiciatis cum a eligendi dolor exercitationem molestiae pariatur deleniti dolorum corporis voluptates! Eius assumenda consectetur alias excepturi itaque, rem eos consequuntur!
            Illo, earum enim quia nostrum ad quisquam tempore eligendi soluta eveniet perferendis quas mollitia optio suscipit qui cupiditate fuga aut iusto explicabo excepturi magni. Veritatis, impedit unde. Molestiae, repellat fuga?
            Similique qui dignissimos provident rerum quis in, temporibus laboriosam at natus, cum repellat officiis illum neque quo consequatur ratione ex? Animi amet placeat obcaecati eligendi vel ab quo reiciendis numquam.</p>
            <div class="features">
                <div class="feature">
                    <img src="/images/safe.png" alt="Safe & Trusted">
                    <p>Safe & Trusted</p>
                </div>
                <div class="feature2">
                    <img src="/images/affordable.png" alt="Affordable Price">
                    <p>Affordable Price</p>
                </div>
            </div>
        </div>
        <div class="about-image">
            <img src="/images/insaan.png" alt="Driver">
        </div>
    </section>
    <hr>
    <div class="founder">
        <div class="divi"> 
            <img src="/images/founder.png" alt="Doraemon">
        </div>
        <div class="founder-info">
            <div class="foundername">
                <p><strong>DORAEMON</strong><br><span class="sign">Founder & CEO</span></p>
            </div>
            
        </div>
        <div class="foundersign">
            <p><strong>Signature</strong><br><span class="sign" id="signn">Doraemon</span></p>
            </div>
    </div>
</div>
</body>
</html>