<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortify - Testimonials & Blog</title>
    <link rel="stylesheet" href="/css/style4.css">
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>

    <%- include('partials/navbar') %>
    <!-- Testimonials Section -->
    <section class="testimonials">
        <div class="container1">
            <div class="primary">
                <h3>TESTIMONIALS</h3>
            </div>
                <h1>Reviewed by Our Clients</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="cards">
                <div class="testimonial-card">
                    <img src="/images/Screenshot 2024-10-03 202458.png" alt="Client Photo">
                    <h4>Anonymous</h4>
                    <p>Freelance Writer</p>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                    <div class="rating">★★★★★ 5.0/5.0</div>
                </div>
                <div class="testimonial-card">
                    <img src="/images/Lawyer img.png" alt="Client Photo">
                    <h4>Anonymous</h4>
                    <p>Lawyer</p>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</p>
                    <div class="rating">★★★★★ 5.0/5.0</div>
                </div>
            </div>
            <a href="#" class="button">Discover More -</a>
        </div>
        
    </section>

    <!-- Blog Section -->
    <section class="blog">
        <div class="container">
            <div class="secondry">
            <h3>B L O G  &  N E W S</h3>
            </div>
            <h1>Our Recently Post</h1>
            <div class="blog-posts">
                <div class="blog-card">
                    <img src="/images/Image (1).png" alt="Post Image">
                    <div class="blog-content">
                        <h2>A Complete Guide on How Not to be Accused</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="post-info">
                            <span>Anonymous</span> | <span>10 March 2024</span>
                        </div>
                    </div>
                </div>
                <div class="blog-card">
                    <img src="/images/Image.png" alt="Post Image">
                    <div class="blog-content">
                        <h2>Top 5 Prestigious Self-Drive Car Rentals</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="post-info">
                            <span>Anonymous</span> | <span>12 March 2024</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="button">Discover More Blog</a>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="link-group">
                    <div class="sortify-img"> 
                        <img src="/images/sortifyimg.png" alt="Post Image">
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit,<br> amet consectetur adipisicing elit.</li>
                    </ul>
                </div>
                <div class="footer-links">
                    
                        <ul>
                            <img src="/images/working_img.png" alt="Post your image">
                            <h4>
                            <li>Mon - Fri : 09:00 AM - 09:00 PM</li>
                            <br>
                            <li>Sat : 09:00 AM - 07:00 PM</li>
                            <br>
                            <li>Sun : Closed</li>
                            </h4>
                        </ul>
                </div><div class=""></div>
                <div class="footer-ap">
                        <ul>
                            <h4>
                            <img src="/images/quickcontact_img.png" alt="Post your image">
                            <br>
                            <li>office: 42, Nagar, India</li>
                            <br>
                            <li><a href="#">support@sortify.com</a></li>
                            <br>
                            <li><a>+1234567893</a></li>
                            </h4>
                        </ul>
    
                </div>
                </div>
            </div>
            <hr>
            <p>© 2024 Sortify. All Rights Reserved.</p>
        </div>
        <script src="/js/javascript2.js"></script>
    </footer>
</body>
</html>