<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sortify Car Rentals</title>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>

    <%- include('partials/navbar') %>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-text">
            <h4>Plan Your Trip Now</h4>
            <h1>EXPLORE THE WORLD WITH US</h1>
            <div class="vivichan">
                <a href="/car" class="btn-book">Book A Ride →</a>
                <p>Or</p>
                <a href="/aa.mp4"><img class="playbtn" src="play.png" ></a>
            </div>
            <h4>What's New-----------------------------------------------------------</h4>
            <p>Now You Can Rent A Car With The Various Facilities And Conveniences We Provide.</p>
        </div>
        <div class="hero-image">
            <img src="/images/car.png" alt="BMW Car" class="carousel-image" style="display: block;">
            <img src="/images/car1.png" alt="Car 1" class="carousel-image" style="display: block;">
            <img src="/images/car2.jpg" alt="Car 2" class="carousel-image" style="display: none;">
            <img src="/images/car3.jpg" alt="Car 3" class="carousel-image" style="display: none;">
        </div>
    </section>

    <!-- Stats Section -->
    <section class="stats">
        <div class="stat">
            <p>Cars Rented</p>
            <h2>240</h2>
        </div>
        <div class="stat">
            <p>Satisfied Clients</p>
            <h2>235</h2>
        </div>
        <div class="stat">
            <p>Years Experience</p>
            <h2>12+</h2>
        </div>
        <div class="stat">
            <p>Car Types</p>
            <h2>18</h2>
        </div>
    </section>

   <script src="js/script.js"></script>
</body>
</html>
